$default-line-height: 1.75 !default;
$default-letter-spacing: 50 !default;
$default-font-family: font-family(gothic) !default;
$default-font-weight-normal: font-weight(gothic, normal) !default;
$default-font-weight-bold: font-weight(gothic, bold) !default;
$default-text-color: color(base-txt) !default;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  word-wrap: inherit;
}

html {
  overflow-x: hidden;
  font-family: $default-font-family;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
}

body {
  margin: 0;
  font-weight: $default-font-weight-normal;
  line-height: $default-line-height;
  color: $default-text-color;
  text-align: left;
  letter-spacing: $default-letter-spacing / 1000 + em;
  font-feature-settings: "palt";
  background-color: #ffffff;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  list-style-type: none;
}

dt {
  margin-bottom: 0;
  font-weight: $default-font-weight-bold;
}

dd {
  margin-bottom: 0;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: $default-font-weight-bold;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
}

figure {
  margin: 0;
}

img,
object {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
}

a object {
  pointer-events: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  appearance: none;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-size: inherit;
  line-height: inherit;
}

label,
select,
input,
button {
  cursor: pointer;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

select::-ms-expand {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // -webkit-appearance: button;
  appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  // -webkit-appearance: listbox;
  appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

/**
 * キーボード以外からフォーカスしたときに
 * outlineを表示しない。
 * このリセットにはwhat-imputが必要
 **************************************** */
html[data-whatinput="mouse"] *:focus,
html[data-whatinput="touch"] *:focus {
  outline: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

em,
strong {
  font-style: normal;
  font-weight: $default-font-weight-bold;
}
