$ratios: (
  square: (1, 1),
  normal: (4, 3),
  wide: (16, 9),
  golden: (1000, 1618),
  silver: (1000, 2414),
  root: (1000, 1414),
);

// アスペクト比計算ツール
// https://aspect.arc-one.jp/

// **
// * アスペクト比設定
// * @param {String} $ratio-key $ratiosのキー
// * @param {?Boolean} $is-landscape 横長ならtrue(default), falseにすると縦横が入れ替わる
// * @content 直下の img,object,svg,video,embed へ 出力
// ************************************************
@mixin aspectratio($ratio-key, $use-after: false) {
  $width: nth(map-get($ratios, $ratio-key), 1);
  $height: nth(map-get($ratios, $ratio-key), 2);
  $puseud: '::before' !default;

  @if $use-after {
    $puseud: '::after';
  }

  position: relative;
  overflow: hidden;

  &#{$puseud} {
    display: block;
    padding-top: aspectratio($width, $height);
    content: '';
  }

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    @content;
  }
}

// **
// * アスペクト比計算
// * @param {Number, String} $width 横幅 もしくは $rationsのキー
// * @param {Number, Boolean} $height 縦高
// * @return {String} アスペクト比[%]
// ************************************************
@function aspectratio($width, $height) {
  // $ratios-key
  @if( map-has-key($ratios, $width) ) {
    $width: nth(map-get($ratios, $ratio-key), 1);
    $height: nth(map-get($ratios, $ratio-key), 2);
  }

  @return percentage($height / $width);
}
