$colors: (
  white: #ffffff,
  gray-white: #eeeeee,
  gray-light: #cccccc,
  gray: #999999,
  gray-dark: #666666,
  gray-black: #333333,
  black: #000000,

  base: #ffffff,
  base-txt: #54585a,

  main: #a00062,
  main-light: #cf7eaf,
  main-txt: #ffffff,

  sub: #96c7d2,
  sub-txt: #ffffff,
  sub2: #ffd100,
  sub2-txt: #ffffff,
  sub3: #54585a,
  sub3-txt:  #ffffff,

  accent: #000000,
  accent-txt: #ffffff,

  safe: #00ff66,
  info: #0066ff,
  warn: #ff6600,

);

// **
// * 色変数を取得する
// * @param {Stirng} $key $colorsのキー
// * @param {?Float} $opacity 不透明度 0 ~ 1.0
// * @return {String} カラーコードまたはrgba
// ************************************************
@function color($key, $opacity: null) {
  @if $opacity != null {
    @return rgba(map-get($colors, $key), $opacity);
  }
  @return map-get($colors, $key);
}
