

// **
// * 親コンテナを突き抜けるmargin
// * @param {?Interger} $ofsset 加減
// ************************************************ */
@function flood-margin($offset: 0px) {
  @if ($offset != 0px) {
    @return calc(50% - 50vw + #{$offset});
  } @else {
    @return calc(50% - 50vw);
  }
}

// **
// * 親コンテナを突き抜けた時のpadding
// * @param {?Interger} $ofsset 加減
// ************************************************ */
@function flood-padding($offset: 0px) {
  @if ($offset != 0px) {
    @return calc(50vw - 50% + #{$offset});
  } @else {
    @return calc(50vw - 50%);
  }
}

// **
// * 親コンテナを突き抜ける
// * @param {?Boolean} $with-padding trueでpadding付き
// ************************************************ */
@mixin flood($with-padding: false) {
  margin-right: flood-margin();
  margin-left: flood-margin();

  @if ($with-padding) {
    padding-right: flood-padding();
    padding-left: flood-padding();
  }
}
