// **
// * ブラウザCSSハック **極力使用しないこと**
// * @param {Stirng} $browser ie11,edge,safari1
// * @content ブラウザハック内
// ************************************************ */
@mixin hack($browser) {
  @if ($browser == "ie") {
    @at-root _:-ms-lang(x)::-ms-backdrop, & {
      @content;
    }
  }
  @if ($browser == "edge") {
    @supports (-ms-ime-align: auto) {
      & {
        @content;
      }
    }
  }
  @if ($browser == "safari") {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      @at-root _::-webkit-full-page-media, _:future, :root & {
        @content;
      }
    }
  }
}
