$hover-opacity: 0.75 !default;
$hover-duration: 300ms !default;
$hover-delay: 0ms !default;
$hover-easing: ease-out !default;
$default-props: (opacity, box-shadow) !default;
$hover-presets: (
  invert: (
    props: (color, background-color, border),
    duration: $hover-duration,
    delay: $hover-delay,
    easing: $hover-easing
  ),
  gradient: (
    props: (color, background-image),
    duration: $hover-duration,
    delay: $hover-delay,
    easing: $hover-easing
  ),
  position: (
    props: (top, left, right, bottom),
    duration: $hover-duration,
    delay: $hover-delay,
    easing: $hover-easing
  ),
);

// **
// * ホバー効果を設定する
// * @param {?List, ?String} $props: (プロパティ名1, プロパティ名2) トランジションの対象とするプロパティのリスト、もしくは$hover-presetsのkey
// * @param {?String} $duration アニメーション時間
// * @param {?String} $delay アニメーション開始遅延時間
// * @param {?String} $easing イージングの設定
// ************************************************
@mixin hover($props: null, $duration:$hover-duration, $delay: $hover-delay, $easing:$hover-easing) {
  $_props: $props;
  @each $presets-key, $preset in $hover-presets {
    @if ($presets-key == $props) {
      $_props: map-get($preset, props);
      $duration: map-get($preset, duration);
      $delay: map-get($preset, delay);
      $easing: map-get($preset, easing);
    }
  }
  @if ($_props == null) {
    $_props: $default-props;
  }
  $trans: "";
  @each $prop in $_props {
    $trans: unquote($trans) + " " + $prop + " " + $duration + " " + $delay + " " + $easing + ",";
  }
  transition: $trans;
  &:hover,
  &:focus {
    // default
    @if ($props == null) {
      box-shadow: none;
      opacity: $hover-opacity;
    }
    @content;
  }
}

// **
// * ホバー色反転用のシュガー
// * @param {?String} $color: テキスト色 -> (ホバー時)背景色
// * @param {?String} $bg-color: 背景色 -> (ホバー時)テキスト
// ************************************************
@mixin hover-invert($color, $bg-color) {
  color: $color;
  background-color: $bg-color;

  @include hover(invert) {
    color: $bg-color;
    background-color: $color;
    @content;
  }
}

