// **
// * 2階層以上のマップの値を参照する
// * @param {Map} $map
// * @param {Map} $keys... key1, key2, ...
// * @return {*} 参照先の値
// ************************************************ */
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return null;
    }
    $map: map-get($map, $key);
  }

  @return $map;
}

// **
// * 2階層以上のマップへ値を適用する
// * @param {Map} $map
// * @param {Map} $keys... key1, key2, ... value
// * @return {*} 値を適用したMap
// ************************************************ */
@function map-deep-set($map, $keys...) {
  $map-list: ($map);
  $result: null;

  @if length($keys) == 2 {
    @return map-merge(
      $map,
      (
        nth($keys, 1): nth($keys, -1),
      )
    );
  }

  @for $i from 1 through length($keys) - 2 {
    $map-list: append($map-list, map-get(nth($map-list, -1), nth($keys, $i)));
  }

  @for $i from length($map-list) through 1 {
    $result: map-merge(
      nth($map-list, $i),
      (
        nth($keys, $i): if($i == length($map-list), nth($keys, -1), $result),
      )
    );
  }

  @return $result;
}
