// **
// * スクロールバーを非表示
// ************************************************ */
@mixin no-scrollbar() {
  -ms-overflow-style: none; // IE, Edge 対応
  scrollbar-width: none; // Firefox 対応

  &::-webkit-scrollbar {
    display: none; // Chrome 対応
  }
}
