$default-line-height: 1.75 !default;

// **
// * テキストボックスのline-height分をnegative marginで除去する
// * @param {?Number} $line-height 指定するline-height
// ************************************************ */
@mixin trim($line-height: $default-line-height) {
  margin-top: trim($line-height);
  margin-bottom: trim($line-height);
}

// **
// * テキストボックスのline-height分をnegative marginで除去する
// * @param {?Number} $line-height 指定するline-height
// * @return {Number} line-heightの半分[em]
// ************************************************ */
@function trim($line-height: $default-line-height) {
  @return -($line-height - 1) / 2 * 1em;
}
