$z-index-list: (
  back: -1,
  main: 1,
  gnav: 50,
  header: 100,
  reservation__close: 90,
  modal: 666,
);

// **
// * z-indexを取得する
// * @param {Stirng} $key $z-index-listのキー
// * @param {?Interger} $offset $z-indexに加減する
// * @return {Interger} z-indexの値
// ************************************************
@function z-index($key, $offset: 0) {
  @return map-get($z-index-list, $key) + $offset;
}

// **
// * z-indexのスタイルをtranslateZと一緒に指定する
// * @param {Stirng} $key $z-index-listのキー
// * @param {?Interger} $offset $z-indexに加減する
// ************************************************
@mixin z-index($key, $offset: 0) {
  z-index: z-index($key, $offset);
  transform: translateZ(z-index($key, $offset));
}
