// * margin調整用ヘルパークラス
// * [example]
// *   class="_mt-0" -> margin-left: 0;
// *   class="_mt-md-auto" -> [md以上] margin-top: auto;
// ************************************************
$configMap: (
  prefix: _mt,
  propName: margin-top,
  props: (
    0: 0,
    auto: auto
  )
);
$isImportant: true;

@include foreach-helper($configMap, $isImportant);
@include media-foreach-helper($configMap, $isImportant);

// * margin調整用ヘルパークラス
// * [example]
// *   class="_mr-0" -> margin-left: 0;
// *   class="_mr-md-auto" -> [md以上] margin-right: auto;
// ************************************************
$configMap: (
  prefix: _mr,
  propName: margin-right,
  props: (
    0: 0,
    auto: auto
  )
);
$isImportant: true;

@include foreach-helper($configMap, $isImportant);
@include media-foreach-helper($configMap, $isImportant);

// * margin調整用ヘルパークラス
// * [example]
// *   class="_mb-0" -> margin-left: 0;
// *   class="_mb-md-auto" -> [md以上] margin-bottom: auto;
// ************************************************
$configMap: (
  prefix: _mb,
  propName: margin-bottom,
  props: (
    0: 0,
    auto: auto
  )
);
$isImportant: true;

@include foreach-helper($configMap, $isImportant);
@include media-foreach-helper($configMap, $isImportant);

// * margin調整用ヘルパークラス
// * [example]
// *   class="_ml-0" -> margin-left: 0;
// *   class="_ml-md-auto" -> [md以上] margin-left: auto;
// ************************************************
$configMap: (
  prefix: _ml,
  propName: margin-left,
  props: (
    0: 0,
    auto: auto
  )
);
$isImportant: true;

@include foreach-helper($configMap, $isImportant);
@include media-foreach-helper($configMap, $isImportant);
