<%
  $['page_id'] = "1";
  include( `${$['path']}@include/_@functions` );
%>
<%- $['include']('_head'); %>

<body>
  <%- $['include']('_header'); %>

  <main>
    <p><%= $['page'].description %></p>
  </main>

  <%- $['include']('_footer'); %>
  <%- $['include']('_foot'); %>
</body>

</html>
