<%
  // PageIDを頼りにPagesを検索して最初の１件を返す
  $['getPageById'] = function(id) {
      return pages.filter((item)=>{return item.page_id === id})[0];
  };

  // ParentIdを頼りにPagesを検索し、配列を返す
  $['getPagesByParentId'] = function(parentId) {
    return pages.filter((item)=>{return item.parent_id === parentId});
  },

  // 相対パスをルートパスに変換する
  $['getRootPath'] = function(relativePath) {
    return $.pathMap.get(relativePath);
  }

  // 現在のページ情報、$['page_id']は当functionsを読み込む前に必ず指定すること
  $['page'] = $['getPageById']($['page_id']);

  // includeのショートハンド、@include/へのパス解決を行い、.ejsを補完する
  $['include'] = function(filepath, params) {
    return include(`${filepath}.ejs`, {$, ...params});
  }

	// picuterタグのショートハンド assets/img/以下のファイル名と拡張子を引数に渡して使用する
	$['picture'] = function(fileName, ext, options) {
		const useOptions = {
			class: "img",
			alt: "",
			breakpoint: 769
		};
		if(typeof options === "string") {
			const className = options;
		  useOptions.class = className;
		} else {
		  Object.assign(useOptions, options);
		}

		return include('_picture.ejs', {fileName: fileName, ext: ext, options: useOptions});
	}

	// picuterタグのショートハンド assets/img/以下のファイル名と拡張子を引数に渡して使用する
	$['picture-pc'] = function(fileName, ext, options) {
		const useOptions = {
			class: "img",
			alt: ""
		};
		if(typeof options === "string") {
			const className = options;
		  useOptions.class = className;
		} else {
		  Object.assign(useOptions, options);
		}
		return include('_picture-pc.ejs', {fileName: fileName, ext: ext, options: useOptions});
	}

	// picuterタグのショートハンド assets/img/以下のファイル名と拡張子を引数に渡して使用する
	$['picture-1x'] = function(fileName, ext, options) {
		const useOptions = {
			class: "img",
			alt: "",
			breakpoint: 769
		};
		if(typeof options === "string") {
			const className = options;
		  useOptions.class = className;
		} else {
		  Object.assign(useOptions, options);
		}
		return include('_picture-1x.ejs', {fileName: fileName, ext: ext, options: useOptions});
	}
%>
