<%
  var breadcrumbs = [$['page']],
      page_id = $['page'].page_id,
      parent_id = $['page'].parent_id;

  while(parent_id) {
    var parent = pages.filter((item)=>{return item.page_id === parent_id})[0];

    if (breadcrumbs.indexOf(parent) !== -1) throw {value: 2, message: "Breadcrumbs has loop! on page_id: " + page_id};
    if (breadcrumbs.length > 100) throw {value: 2, message: "Breadcrumbs length reached to limit! on page_id: " + page_id};

    parent_id = parent.parent_id;
  }

%>
<nav class="breadcrumbs">
  <ol class="breadcrumbs__list">
    <% for(i=breadcrumbs.length-1; i>0; i--) { %>
      <li class="breadcrumbs__list-item"><a href="<%- `${path}${breadcrumbs[i].permalink}` %>"><%- breadcrumbs[i].title %></a></li>
    <% } %>
    <li class="breadcrumbs__list-item"><%- breadcrumbs[0].title %></li>
  </ol>
</nav>