<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <title><% if (!$['page'].top_page) { %><%= $['page'].title %> | <% } %><%= site.name %></title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">

  <link rel="shortcut icon" href="<%= $['path'] %>assets/favicon/favicon.ico">
  <link rel="apple-touch-icon" href="<%= $['path'] %>assets/favicon/apple-touch-icon.png">

  <link rel="stylesheet" href="<%= $['path'] %>assets/css/common.css">
<%
if (css.length) {
  css.forEach(path => {
%>
  <link rel="stylesheet" href="<%= path %>">
<%
  });
}
%>
  <script src="<%= $['path'] %>assets/js/main.js"></script>

</head>
