<%
  var breadcrumbs = [page],
      parent_id = page.parent_id;

  while(parent_id) {
    var parent = pages.filter((item)=>{return item.page_id === parent_id})[0];
    if (breadcrumbs.indexOf(parent) !== -1) throw {value: 2, message: "Breadcrumbs has loop! on page_id: " + page.page_id};
    if (breadcrumbs.length > 100) throw {value: 2, message: "Breadcrumbs length reached to limit! on page_id: " + page.page_id};
    breadcrumbs.push(parent);
    parent_id = parent.parent_id;
  }
%>

<%# 構造化データの内容はサイトに応じて適宜変更してください %>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    <% for(i=breadcrumbs.length-1, j=1; i>=0; i--, j++) { %>
      {
        "@type": "ListItem",
        "position": "<%- j %>",
        "name": "<%- breadcrumbs[i].title %>",
        "item": "<%- `${site.url}${breadcrumbs[i].permalink}` %>"
      }<%- (i>0)? ",": ""; %>
    <% } %>
    ]
  }
</script>